.projects-list {
  padding: 0;
  background: #f7938a;
  border-radius: 4px;
  margin-top: 30px;

  h2 {
    margin-top: -15px;
  }

  a {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    font-style: italic;
  }

  .project-url {
    margin-top: 5px;
    background: #f8d3d0;

    &:hover {
      background: #f5b6b1;
    }
  }

  .source-url {
    margin-top: 5px;
    background: #f5b6b1;

    &:hover {
      background: #f8d3d0;
    }
  }

  .url {
    display: flex;
    justify-content: space-between;
  }
}

.projects img {
  border-radius: 4px;
  width: 370px;
  height: 250px;
  display: block;
  margin: 15px auto;
}

@media (max-width: 991.98px) {
  .projects-list {
    margin-top: 10px;
  }

  .projects img {
    height: 220px;
  }
}
