.projects-list {
  padding: 0;
  background: #f7938a;
  border-radius: 4px;
  margin-top: 30px;

  a {
    background: #f8d3d0;

    &:hover {
      background: #f6c3be;
    }
  }
}

.projects img {
  border-radius: 4px;
  width: 370px;
  height: 250px;
  display: block;
  margin: 10px auto;
}
