@import "./ProjectsList";

.projects {
  margin-top: -50px;

  h1 {
    text-align: center;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

@media (max-width: 991.98px) {
  .projects {
    margin-top: -20px;
  }
}
