$primar-color: #ff8686;
$second-color: #ffebeb;
$font-color: #736a6a;

@import "./ProjectsList";

.Projects {
  h1 {
    text-align: center;
  }

  ul {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
}
