.list-skills {
  margin-top: 20px;
  color: $font-color;

  & h3 {
    font-size: 25px;
  }

  & ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  & li {
    margin-right: 10px;
    margin: 5px;
    border: 1px solid $primar-color;
    padding: 5px 6px;
    font-size: 13px;
  }
}
