.navbar {
  background: $second-color;

  & a {
    color: $font-color !important;
    font-weight: 500;
  }

  @media (min-width: 992px) {
    .navbar-collapse {
      display: flex !important;
      justify-content: flex-end;
    }
  }
}
