$primar-color: #ff8686;
$second-color: #ffebeb;
$font-color: #736a6a;

@import "./Navbar";
@import "../UI/Card";
@import "./Animation";
@import "./ListSkills";

body {
  background: $second-color;
}

.homepage {
  margin-top: -10%;

  .container {
    display: flex;
    justify-content: center;
  }

  button {
    margin-top: 20px;
    background: $primar-color;
    color: $second-color;
    border: none;
    border-radius: 4px;

    &:hover {
      color: #736a6a;
      box-shadow: 5px 5px 5px $font-color;
    }
  }
}
