$primar-color: #ff8686;
$second-color: #ffebeb;
$font-color: #736a6a;

@import "../Navbar";
@import "../UI/Card";
@import "./Animation";
@import "./ListSkills";
@import "./Skills";

body {
  background: $second-color;
}

.container {
  margin-top: -20px;
  display: flex;
  justify-content: center;
}
