h1 {
  text-align: center;
}
.contact {
  padding: 80px 20px;
  display: flex;
  justify-content: space-evenly;
  font-size: 15px;

  img {
    border-radius: 20px;
  }

  .email img {
    border-radius: 0;
  }

  a {
    text-decoration: none;
    padding: 5px;
    border: 2px solid #f7938a;
    border-radius: 4px;
    color: #000;

    &:hover {
      background: #f7938a;
    }
  }
}
@media (max-width: 991.98px) {
  .contact {
    padding: 30px 20px 10px 20px;
  }
}
