.footer {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  margin: 0 80px;
  background: #f7938a;
  border-radius: 6px;

  h3 {
    color: #645d5d;
  }

  a {
    text-decoration: none;
    color: #000;

    &:hover {
      color: #645d5d;
    }
  }

  img:hover {
    border-radius: 50%;
    padding: 5px;
    background: #f8d3d0;
  }

  .icons {
    text-align: center;
  }
}
